
.yallow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: inline-block;
    border: 1px black solid;

}

.green {
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
    top: 20px;
    position: relative;
    border: 1px black solid;

}
.task-2 {
    position: absolute;
    top: 50%;
}

.div-1 {
    width: 100px;
    height: 70px;
    background-color: red;
    color: white;
    border: 1px solid black;
    display: inline-block;
   text-align: center;
    padding-top: 30px;


}

.div-1:nth-child(even) {
    display: none;
}